<div [ngClass]="{'row': true, 'contentDetails': true}">
  <div [ngClass]="{'col-12': true}">
    <h1>{{ productSelected.description }}</h1>
  </div>
  <div [ngClass]="{'col-5': true}">
    <img src="{{ productSelected.urlImage }}" alt="{{ productSelected.description }}" width="255" height="255">
  </div>
  <div [ngClass]="{'col-7': true, 'tradeButton':true}">
    <p>Product Id: {{productSelected.id}}</p>
    <p>Creation Date: {{productSelected.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    <p>Description: {{productSelected.description}}</p>
    <p>Price: {{productSelected.price}}</p>
  </div>
</div>
