:host{
  width:100%;
}

$lightBackground: #007bff;

.leftDiv{
  border-right: 1px solid black;
}

.tradeButton{
  background-color: rgba($color: $lightBackground, $alpha: 0.2);
  color: rgba($color: $lightBackground, $alpha: 1);
  border: 1px solid black;
  border-radius:10px;
  margin:5px;
  text-align: center;
  display: inline-block;
}


