<div [ngClass]="{container: true}">
  <div [ngClass]="{'row': true}" [ngStyle]="{'justify-content': 'center'}">
      <div *ngIf="ticketServ.httpError" >
          <div class="alert alert-warning">
          HTTP Error - {{ticketServ.httpError.status}}
          </div>
      </div>
      <div *ngIf="ticketServ.loading" class="alert alert-primary">
          <app-icon [iconName]="'hourglass-split'" ></app-icon>
          <span> Loading...</span>
      </div>
      <div *ngIf="!(ticketServ.loading)" [ngClass]="{'row': true}">
        <div [ngClass]="{'col-lg-2':true, 'leftDiv':true}" >
          <div>
            <Button [ngClass]="{'tradeButton':true, 'btn':true, 'btn-success':true}"  (click)="addNewTicket()">Add Ticket</Button>
          </div>
        </div>
        <div [ngClass]="{'col-lg-10':true}">
          <div *ngFor="let ticket of ticketServ.tickets; let i = index; first as first; last as last" [ngClass]="{'col-lg-3':true, 'divTradeButton':true, 'tradeButton':true, 'btn':true, 'btn-primary':true}">
            <!-- Looping for each ticket -->
            <app-item [ticket]="ticket"></app-item>
          </div>
      </div>
    </div>
  </div>
</div>
