:host{
  width:100%;
}

$lightBackground: #007bff;

span{
  display: inline-block;
  font-size: 30px;
}

input{
  display: inline-block;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom:5px;
}

.ticketTools{
  float: right;/* top: 50px; */
  margin-top: 7%;
  z-index: 3;
  position: relative;
}


.divTradeButton{
    width:240px;
}

.leftDiv{
  border-right: 1px solid black;
}

.tradeButton{
  background-color: rgba($color: $lightBackground, $alpha: 0.2);
  color: rgba($color: $lightBackground, $alpha: 1);
  border: 1px solid black;
  border-radius:10px;
  margin:5px;
  text-align: center;
  display: inline-block;
}

.elementActive{
    background-color: red;
}

//:host span {
    //color: red;
//}

