<div  [ngClass]="{'divGeneralItem':true}">
  <div [ngClass]="{'col-lg-12': true, 'col-8': true}">
    <img src="{{ product.urlImage }}" alt="{{ product.description }}" [routerLink]="['/product-details', product._id]"  width="135" height="135">
    <span [ngClass]="{'col-lg-12': true, 'col-12': true}" >{{product.name }}</span>
    <div *ngIf="!changePrice" [ngClass]="{'row': true, 'mt-1': true}">
      <span [ngClass]="{'col-lg-6': true, 'col-6': true}" >{{product.price | currency }}</span>
      <div [ngClass]="{'col-lg-6': true, 'col-6': true }" *ngIf="productServ.editMode">
        <app-icon (click)="changePrice=true" [iconName]="'pencil'" ></app-icon>
        <app-icon (click)="deleteProduct(product)" [iconName]="'trash'" ></app-icon>
      </div>
    </div>
    <div *ngIf="changePrice" [ngClass]="{'productTools': true, 'row': true, 'mt-1': true}">
      <input [ngClass]="{'col-lg-7': true, 'col-6': true}" type="text" #updateId placeholder="{{product.price | currency}}">
      <div [ngClass]="{'mt-1': true}">
        <app-icon (click)="updateProductPrice(product, updateId.value)" [iconName]="'plus-square'"></app-icon>
        <app-icon (click)="changePrice = false" [iconName]="'x-circle'"></app-icon>
      </div>
    </div>
    <div [ngClass]="{'col-lg-12': true, 'col-12': true}">
      <div [ngClass]="{'mt-1': true}">
        <app-icon (click)="productServ.addProductToCart(product)" [iconName]="'plus-square'" [ngClass]="{'add': true}"></app-icon>
        <app-icon (click)="productServ.removeProductFromCart(product)" [iconName]="'x-circle'" [ngClass]="{'remove': true}"></app-icon>
      </div>
    </div>
  </div>
</div>
