<div (mouseleave)="hideProductTools(product)" (mouseenter)="showProductTools(product)">
  <div *ngIf="!editProduct">
    <span [routerLink]="['/product-details', product._id]">{{product.id}}</span>
    <div class="productTools" *ngIf="product===productselected">
      <app-icon (click)="editProduct=true" [iconName]="'pencil'" ></app-icon>
      <app-icon (click)="deleteProduct(product)" [iconName]="'trash'" ></app-icon>
    </div>
  </div>
  <div *ngIf="editProduct">
    <input [ngClass]="{'col-lg-8': true}" type="text" #updateId>
    <div class="productTools">
      <app-icon (click)="updateProduct(product, updateId.value)" [iconName]="'plus-square'"></app-icon>
      <app-icon (click)="editProduct = false" [iconName]="'x-circle'"></app-icon>
    </div>
  </div>
</div>
