span{
  display: inline-block;
  font-size: 30px;
}

input{
  display: inline-block;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom:5px;
}

.ticketTools{
  float: right;/* top: 50px; */
  margin-top: 7%;
  z-index: 3;
  position: relative;
}
