<div (mouseleave)="hideTicketTools(ticket)" (mouseenter)="showTicketTools(ticket)">
  <div *ngIf="!editTicket">
    <span [routerLink]="['/ticket-details', ticket._id]">{{ticket.bbgId}}</span>
    <div class="ticketTools" *ngIf="ticket===ticketselected">
      <app-icon (click)="editTicket=true" [iconName]="'pencil'" ></app-icon>
      <app-icon (click)="deleteTicket(ticket)" [iconName]="'trash'" ></app-icon>
    </div>
  </div>
  <div *ngIf="editTicket">
    <input [ngClass]="{'col-lg-8': true}" type="text" #updateId>
    <div class="ticketTools">
      <app-icon (click)="updateTicket(ticket, updateId.value)" [iconName]="'plus-square'"></app-icon>
      <app-icon (click)="editTicket = false" [iconName]="'x-circle'"></app-icon>
    </div>
  </div>
</div>
