<form #newProductForm="ngForm" [ngClass]="{'form': true}" (ngSubmit)="newProductForm.form.valid && onSubmit(newProductForm)">
  <div class="form-group">
    <label>EAN Code</label>
    <input type="text" name="id" class="form-control" [(ngModel)]="model.id" #ean="ngModel"
      [ngClass]="{ 'is-invalid': newProductForm.submitted && ean.invalid }" required>
    <div class="invalid-feedback" *ngIf="newProductForm.submitted && ean.invalid">
      <p *ngIf="ean.errors.required">EAN Code is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
      [ngClass]="{ 'is-invalid': newProductForm.submitted && name.invalid }" required>
    <div class="invalid-feedback" *ngIf="newProductForm.submitted && name.invalid">
      <p *ngIf="name.errors.required">Description is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" name="description" class="form-control" [(ngModel)]="model.description" #description="ngModel"
      [ngClass]="{ 'is-invalid': newProductForm.submitted && description.invalid }" required>
    <div class="invalid-feedback" *ngIf="newProductForm.submitted && description.invalid">
      <p *ngIf="description.errors.required">Description is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input type="number" name="price" class="form-control" [(ngModel)]="model.price" #price="ngModel"
      [ngClass]="{ 'is-invalid': newProductForm.submitted && price.invalid }" required>
    <div class="invalid-feedback" *ngIf="newProductForm.submitted && price.invalid">
      <p *ngIf="price.errors.required">Price is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>Image Url</label>
    <input type="text" name="urlImage" class="form-control" [(ngModel)]="model.urlImage" #urlImage="ngModel"
      [ngClass]="{ 'is-invalid': newProductForm.submitted && urlImage.invalid }" required>
    <div class="invalid-feedback" *ngIf="newProductForm.submitted && urlImage.invalid">
      <p *ngIf="urlImage.errors.required">Image Url is required</p>
    </div>
  </div>
  <section>
  <!-- <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" email required>
    <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.email">Must be a valid email address</div>
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }" minlength="8" required>
    <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">Password should be at least 8 characters long</div>
    </div>
  </div>

  <div class="form-group">
    <label>Hobbies</label>
    <select class="form-control" name="hobbies" [(ngModel)]="model.hobbies">
      <option value="">Select an option</option>
      <option *ngFor="let hoby of Hobbies" [value]="hoby">
        {{hoby}}
      </option>
    </select>
  </div> -->
</section>

  <div class="form-group">
    <button [ngClass]="{'tradeButton':true, 'btn':true, 'btn-success':true, 'btn-block':true}" >Add Product</button>
  </div>
</form>
