.form{
  background-color: rgba(var(--itemBackgroundRGA), 1);
  color: var(--itemColorRGA);
  border: 1px solid var(--itemColorRGA30);
  padding: 10px;
  margin-top: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  /* font-size: 1rem; */
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
